$mat-orange: (
    50 : #fff7e6,
    100 : #ffebc0,
    200 : #ffde96,
    300 : #ffd16c,
    400 : #ffc74d,
    500 : #ffbd2d,
    600 : #ffb728,
    700 : #ffae22,
    800 : #ffa61c,
    900 : #ff9811,
    A100 : #ffffff,
    A200 : #fffcf8,
    A400 : #ffe4c5,
    A700 : #ffd8ac,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-green: (
    50 : #e8f7e8,
    100 : #c5eac5,
    200 : #9edc9e,
    300 : #77ce77,
    400 : #59c459,
    500 : #3cb93c,
    600 : #36b236,
    700 : #2eaa2e,
    800 : #27a227,
    900 : #1a931a,
    A100 : #caffca,
    A200 : #97ff97,
    A400 : #64ff64,
    A700 : #4bff4b,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-pink: (
    50 : #faf4fd,
    100 : #f2e3fb,
    200 : #e9d1f9,
    300 : #e0bff6,
    400 : #d9b1f4,
    500 : #d2a3f2,
    600 : #cd9bf0,
    700 : #c791ee,
    800 : #c188ec,
    900 : #b677e8,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #f5e8ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-purple: (
    50 : #f3e7f3,
    100 : #e2c4e1,
    200 : #cf9ccd,
    300 : #bb74b9,
    400 : #ad57aa,
    500 : #9e399b,
    600 : #963393,
    700 : #8c2c89,
    800 : #82247f,
    900 : #70176d,
    A100 : #ffa9fc,
    A200 : #ff76fa,
    A400 : #ff43f8,
    A700 : #ff2af7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

