<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- prevent any browser cache of index.html -->
	<location path="index.html">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlMode="DisableCache" cacheControlMaxAge="0.00:00:00" />
			</staticContent>
			<httpProtocol>
				<customHeaders>
					<add name="Cache-Control" value="private,no-cache,no-store,must-revalidate" /> 
					<add name="Pragma" value="no-cache" />
					<add name="Expires" value="-1" />
				</customHeaders>
			</httpProtocol>  
		</system.webServer>
	</location>
	<system.webServer>
		<!-- route everything back to index.html unless it's an API call -->
		<rewrite>
			<rules>
				<rule name="Angular2" patternSyntax="ECMAScript" stopProcessing="true">
					<match url="^((?!api).)*$" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="/" logRewrittenUrl="true" />
				</rule>
			</rules>
			<outboundRules>
				<rule name="replace server header" patternSyntax="Wildcard">
					<match serverVariable="RESPONSE_SERVER" pattern="*" />
					<action type="Rewrite" value="" />
				</rule>
			</outboundRules>
		</rewrite>
		<!-- GZip static file content.  Overrides the server default which only compresses static files over 2700 bytes -->
		<httpCompression directory="%SystemDrive%\websites\_compressed" minFileSizeForComp="1024">
			<scheme dll="%Windir%\system32\inetsrv\gzip.dll" name="gzip"/>
			<staticTypes>
				<add enabled="true" mimeType="text/*"/>
				<add enabled="true" mimeType="message/*"/>
				<add enabled="true" mimeType="application/javascript"/>
				<add enabled="true" mimeType="application/json"/>
				<add enabled="false" mimeType="*/*"/>
			</staticTypes>
		</httpCompression>
		<urlCompression doDynamicCompression="false" doStaticCompression="true"/>
		<staticContent>
			<!-- Remove ETAG IN IIS >8 ; for IIS 7/7.5 see the Rewrite rules (bigger description of why you might remove etag down there aswell)
				<clientCache setEtag="false"/>
				-->
			<!-- Set expire headers to 30 days for static content-->
			<clientCache cacheControlMaxAge="30.00:00:00" cacheControlMode="UseMaxAge"/>
			<remove fileExtension=".css"/>
			<mimeMap fileExtension=".css" mimeType="text/css"/>
			<remove fileExtension=".js"/>
			<mimeMap fileExtension=".js" mimeType="text/javascript"/>
			<remove fileExtension=".json"/>
			<mimeMap fileExtension=".json" mimeType="application/json"/>
			<remove fileExtension=".rss"/>
			<mimeMap fileExtension=".rss" mimeType="application/rss+xml; charset=UTF-8"/>
			<remove fileExtension=".xml"/>
			<mimeMap fileExtension=".xml" mimeType="application/xml; charset=UTF-8"/>
			<remove fileExtension=".woff"/>
			<mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
			<remove fileExtension=".woff2"/>
			<mimeMap fileExtension=".woff2" mimeType="font/woff2"/>
			<remove fileExtension=".ico"/>
			<mimeMap fileExtension=".ico" mimeType="image/x-icon"/>
		</staticContent>
	</system.webServer>
</configuration>
