<form [formGroup]="form" novalidate fxLayout="column" fxLayoutGap="20px" (ngSubmit)="onSubmit()">

  <div fxLayout="row" fxLayoutGap="20px">

    <div fxLayout="column" fxLayoutGap="20px">

      <h3>Patient Information</h3>
      <h4>Gender*</h4>
      <mat-radio-group placeholder="Gender*" formControlName="sex" fxLayout="row" fxLayoutGap="20px">
        <mat-radio-button value="Male" color="primary"> Male </mat-radio-button>
        <mat-radio-button value="Female" color="primary"> Female </mat-radio-button>
      </mat-radio-group>

      <div fxLayout="row" fxLayoutGap="10px">
        <mat-form-field>
          <input matInput placeholder="First Name*" type="text" formControlName="firstName">
          <mat-error *ngIf="form.get('firstName').hasError('required')">Please enter the first name.</mat-error>
          <mat-error
            *ngIf="form.get('firstName').hasError('required') == false && form.get('firstName').hasError('maxlength')">
            Field cannot be longer than 100 chars.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Middle Name" type="text" formControlName="middleName">
          <mat-error *ngIf="form.get('middleName').hasError('maxlength')">Field cannot be longer than 100 chars.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Last Name*" type="text" formControlName="lastName">
          <mat-error *ngIf="form.get('lastName').hasError('required')">Please enter the last name.</mat-error>
          <mat-error
            *ngIf="form.get('lastName').hasError('required') == false && form.get('lastName').hasError('maxlength')">
            Field cannot be longer than 100 chars.</mat-error>
        </mat-form-field>
      </div>

      <mat-form-field>
        <input matInput [matDatepicker]="dobPicker" formControlName="dateOfBirth" placeholder="Date of Birth*">
        <mat-datepicker #dobPicker></mat-datepicker>
        <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
        <mat-error *ngIf="form.get('dateOfBirth').hasError('required')">Please enter the birthdate.</mat-error>
        <mat-error
          *ngIf="form.get('dateOfBirth').hasError('required') == false && form.get('dateOfBirth').hasError('invalidDateFormat')">
          Date must be in the format of mm/dd/yyyy.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Phone Number*" type="text" [textMask]="{mask: maskService.phonenumber}"
          formControlName="phoneNumber">
        <mat-error *ngIf="form.get('phoneNumber').hasError('required')">Please enter the phone number.</mat-error>
        <mat-error
          *ngIf="form.get('phoneNumber').hasError('required') == false && form.get('phoneNumber').hasError('invalidPhoneNumber')">
          Phone Number must be 9 digits.</mat-error>

      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Address Line One*" type="text" formControlName="addressLineOne">
        <mat-error *ngIf="form.get('addressLineOne').hasError('required')">Please enter an address.
        </mat-error>
        <mat-error
          *ngIf="form.get('addressLineOne').hasError('required') == false && form.get('addressLineOne').hasError('maxlength')">
          Field cannot be longer than 100 chars.</mat-error>

      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Address Line Two" type="text" formControlName="addressLineTwo">
      </mat-form-field>
      <mat-error
        *ngIf="form.get('addressLineTwo').hasError('required') == false && form.get('addressLineTwo').hasError('maxlength')">
        Field cannot be longer than 100 chars.</mat-error>

      <div fxLayout="row" fxLayoutGap="10px">
        <mat-form-field>
          <input matInput placeholder="City*" type="text" formControlName="city">
          <mat-error *ngIf="form.get('city').hasError('required')">Please enter a city.
          </mat-error>
          <mat-error *ngIf="form.get('city').hasError('required') == false && form.get('city').hasError('maxlength')">
            Field cannot be longer than 30 chars.</mat-error>

        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="State" type="text" formControlName="state"
            [textMask]="{mask: maskService.state}">
          <mat-error *ngIf="form.get('state').hasError('required')">Please enter a value.</mat-error>
          <mat-error *ngIf="form.get('state').hasError('minlength')">Minimum of 2 characters.</mat-error>
          <mat-error *ngIf="form.get('state').hasError('maxlength')">Maximum of 100 characters.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Zip Code*" type="text" [textMask]="{mask: maskService.zip}"
            formControlName="zip">
          <mat-error *ngIf="form.get('zip').hasError('required')">Please enter a zip code.
          </mat-error>
          <mat-error *ngIf="form.get('zip').hasError('required') == false && form.get('zip').hasError('invalidLength')">
            Zip code must be 5 digits.</mat-error>

        </mat-form-field>
      </div>

      <mat-form-field>
        <mat-select placeholder="Preferred Call Back Time*" formControlName="bestTimeToCallBack">
          <mat-option value="Morning"> Morning </mat-option>
          <mat-option value="Afternoon"> Afternoon </mat-option>
          <mat-option value="Evening"> Evening </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('bestTimeToCallBack').hasError('required')">Please select a time for the call.
        </mat-error>
      </mat-form-field>

      <mat-checkbox formControlName="callBackImmediately" labelPosition="before" color="primary">Call Back Immediately
      </mat-checkbox>

      <h4>Language*</h4>
      <mat-radio-group placeholer="Language*" formControlName="language" fxLayout="row" fxLayoutGap="20px">
        <mat-radio-button value="English" color="primary"> English </mat-radio-button>
        <mat-radio-button value="Spanish" color="primary"> Spanish </mat-radio-button>
      </mat-radio-group>

    </div>

    <div fxLayout="column" fxLayoutGap="20px">
      <h3>Medical Information</h3>

      <div fxLayout="row" fxLayoutGap="20px">
        <mat-label>DME:</mat-label>
        <mat-radio-group formControlName="isDme" fxLayout="row" fxLayoutGap="30px">
          <mat-radio-button value="TRUE" color="primary" (click)="openDmeDialog()"> Yes </mat-radio-button>
          <mat-radio-button value="FALSE" color="primary"> No </mat-radio-button>
        </mat-radio-group>
      </div>

      <mat-form-field>
        <mat-select placeholder="Pharmacy*" formControlName="pharmacy">
          <mat-option value="TWA"> TWA </mat-option>
          <mat-option value="UNIVERSALRX"> Universal Rx</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('pharmacy').hasError('required')">Please select a pharmacy.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Medications" type="text" formControlName="medications">
        <mat-error *ngIf="form.get('medications').hasError('maxlength')">Field cannot be longer than 100 chars.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Additional Notes" type="text" formControlName="notes">
        <mat-error *ngIf="form.get('notes').hasError('maxlength')">Field cannot be longer than 100 chars.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Primary Care Physician Name" type="text" formControlName="physicianName">
        <mat-error *ngIf="form.get('physicianName').hasError('maxlength')">Field cannot be longer than 100 chars.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Phone Number" type="text" [textMask]="{mask: maskService.phonenumber}"
          formControlName="physicianPhoneNumber">
        <mat-error *ngIf="form.get('physicianPhoneNumber').hasError('invalidPhoneNumber')">Phone Number must be 9
          digits.</mat-error>

      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Address Line One" type="text" formControlName="physicianAddressLineOne">
        <mat-error *ngIf="form.get('physicianAddressLineOne').hasError('maxlength')">Field cannot be longer than 100
          chars.</mat-error>

      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Address Line Two" type="text" formControlName="physicianAddressLineTwo">
        <mat-error *ngIf="form.get('physicianAddressLineTwo').hasError('maxlength')">Field cannot be longer than 100
          chars.</mat-error>

      </mat-form-field>

      <div fxLayout="row" fxLayoutGap="10px">
        <mat-form-field>
          <input matInput placeholder="City" type="text" formControlName="physicianCity">
          <mat-error *ngIf="form.get('physicianCity').hasError('maxlength')">Field cannot be longer than 30 chars.
          </mat-error>

        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="State" type="text" formControlName="physicianState"
            [textMask]="{mask: maskService.state}">
          <mat-error *ngIf="form.get('state').hasError('required')">Please enter a value.</mat-error>
          <mat-error *ngIf="form.get('state').hasError('minlength')">Minimum of 2 characters.</mat-error>
          <mat-error *ngIf="form.get('state').hasError('maxlength')">Maximum of 100 characters.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Zip Code" type="text" [textMask]="{mask: maskService.zip}"
            formControlName="physicianZip">
          <mat-error *ngIf="form.get('physicianZip').hasError('invalidLength')">Zip code must be 5 digits.</mat-error>

        </mat-form-field>
      </div>

      <mat-form-field>
        <mat-select placeholder="Insurance Type*" formControlName="insurance">
          <mat-option value="PRIVATE"> PRIVATE </mat-option>
          <mat-option value="MEDICARE"> MEDICARE </mat-option>
          <mat-option value="BOTH"> BOTH </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('insurance').hasError('required')">Please select a type of insurance.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Therapy Type*" formControlName="therapy">
          <mat-option value="RX"> Rx </mat-option>
          <mat-option value="DME">DME</mat-option>
          <mat-option value="BOTH">BOTH</mat-option>
          <mat-option value="BOTH">LABS</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('therapy').hasError('required')">Please select a type of therapy. </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Other Product" type="text" formControlName="otherProduct">
        <mat-error *ngIf="form.get('otherProduct').hasError('maxlength')">Field cannot be longer than 100 chars.
        </mat-error>

      </mat-form-field>

    </div>

  </div>

  <button type="submit" mat-raised-button color="accent">Submit</button>
</form>