<form [formGroup]="accountForm" novalidate fxLayout="column" fxLayoutGap="20px" (ngSubmit)="onSubmit()">
  <div fxLayout="row" fxLayoutGap="10px">

    <mat-form-field>
      <input matInput placeholder="User Name" type="text" formControlName="userName">
      <mat-error *ngIf="accountForm.get('userName').hasError('required')">Please enter a valid user name.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Password" type="password" formControlName="password">
      <mat-error *ngIf="accountForm.get('password').hasError('required')">Please enter the password.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Confirm Password" type="password" formControlName="confirmationPassword">
      <mat-error *ngIf="accountForm.get('confirmationPassword').hasError('required')">Please enter the confirmation
        password.</mat-error>
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutGap="10px">
    <mat-form-field>
      <input matInput placeholder="First Name" type="text" formControlName="firstName">
      <mat-error *ngIf="accountForm.get('firstName').hasError('required')">Please enter your first name.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Last Name" type="text" formControlName="lastName">
      <mat-error *ngIf="accountForm.get('lastName').hasError('required')">Please enter your last name.</mat-error>
    </mat-form-field>
  </div>

  <mat-form-field>
    <input matInput placeholder="Phone Number" type="text" formControlName="phoneNumber">
    <mat-error *ngIf="accountForm.get('phoneNumber').hasError('required')">Please a phone number.</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Address Line One" type="text" formControlName="addressLineOne">
    <mat-error *ngIf="accountForm.get('addressLineOne').hasError('required')">Please enter address line one.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Address Line Two" type="text" formControlName="addressLineTwo">
    <mat-error *ngIf="accountForm.get('addressLineTwo').hasError('required')">Please enter address line two.
    </mat-error>
  </mat-form-field>

  <div fxLayout="row" fxLayoutGap="10px">
    <mat-form-field>
      <input matInput placeholder="City" type="text" formControlName="city">
      <mat-error *ngIf="accountForm.get('city').hasError('required')">Please enter a city.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="State" type="text" formControlName="state">
      <mat-error *ngIf="accountForm.get('state').hasError('required')">Please enter a state.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Zip Code" type="text" formControlName="zip">
      <mat-error *ngIf="accountForm.get('zip').hasError('required')">Please enter a zip code.
      </mat-error>
    </mat-form-field>
  </div>

  <button mat-raised-button color="accent">Submit</button>

</form>