<form *ngIf="patient && intakeForm && physician" [formGroup]="form" novalidate (ngSubmit)="onSubmit()"
  fxLayout="column">

  <div fxLayout="row">

    <div fxLayout="column">

      <!-- ORTHOTIC DEVICE NEED ASSESSMENT-->
      <div fxLayout="column">
        <h4>ORTHOTIC DEVICE NEED ASSESSMENT</h4>
        <div>EXAM DATE: {{dateOfService | date}}</div>
      </div>

      <!-- ORTHOTIC DEVICE NEED ASSESSMENT-->
      <div fxLayout="column">
        <h4>CHIEF COMPLAINT</h4>
        <div>The patient complains of {{getAnswer('PainChart')}} pain at the time of this assessment.</div>
      </div>

      <!-- VITALS-->
      <!-- DONE -->
      <div fxLayout="column">
        <h4>VITALS</h4>
        <div>Height: {{patient?.height}}</div>
        <div>Weight: {{patient?.weight}} lbs. </div>
        <div>Shoe Size : {{patient?.shoeSize}}</div>
        <div>Waist Size: {{patient?.waist}}</div>
        <div>DOB: {{patient?.dateOfBirth | date}}</div>
      </div>

    </div>

    <!-- Physician INFORMATION -->
    <!-- DONE -->
    <div fxLayout="column">
      <h4>PHYSICIAN INFORMATION</h4>
      <div fxLayout="row" fxLayoutGap="10px">
        <div fxLayout="column">
          <div>Name:</div>
          <div>NPI:</div>
          <div>DEA:</div>
          <div>Address:</div>
          <div>Phone:</div>
          <div>Fax:</div>
          <div>Date of Service:</div>
        </div>

        <div fxLayout="column">
          <div>{{physician?.firstName}} {{physician?.lastName}}</div>
          <div>{{physician?.npi}}</div>
          <div>{{physician?.dea}}</div>
          <div> {{physician?.address.addressLineOne}}
            {{physician?.address.addressLineTwo}}
            {{physician?.address.city}}, {{physician?.address.state}} {{physician?.address.zip}}</div>
          <div *ngIf="physician?.phoneNumber">{{physician?.phoneNumber | phone}}</div>
          <div *ngIf="physician?.faxNumber">{{physician?.faxNumber | phone}}</div>
          <div>{{dateOfService | date}}</div>
        </div>
      </div>
    </div>


  </div>

  <div fxLayout="column">

    <h4>SUBJECTIVE</h4>
    <p>The patient describes their {{getAnswer('PainChart')}} pain to be at a level of {{getAnswer('PainLevel')}} on a
      0 to 10 scale.
      The patient describes
      the
      duration of the pain as {{getAnswer('PainDuration')}}. The etiology of the patient's {{getAnswer('PainChart')}}
      pain is
      described by patient as {{getAnswer('PainFeeling')}} .
      Conditions
      that cause or aggravate the {{getAnswer('PainChart')}} pain include {{getAnswer('PainCause')}}. Previously, the
      patient has
      tried
      {{getAnswer('PainSelfTreatment')}}, with limited
      success.
      When
      asked whether it eﬀects activities of daily living, the patient stated {{getAnswer('EffectsDaily')}}.</p>

    <h4>RELATED SURGERY</h4>
    <p>The patient states, they had {{getAnswer('Surgies')}} surgeries in the area of {{getAnswer('PainChart')}} </p>

    <h4>OBJECTIVE/ASSESSMENT</h4>
    <p>
      Patient name, {{patient?.firstName}} {{patient.lastName}}, a {{patient?.sex}}, currently {{patient?.age}} years
      old and weighs {{patient?.weight}} lbs. The patient claims their pain was initially
      caused
      by {{getAnswer('PainFeeling')}} . Treatments previously tried for {{getAnswer('PainChart')}} pain include
      {{getAnswer('PainSelfTreatment')}}. When asked about
      previous surgery, the
      patients
      response was {{getAnswer('Surgies')}}. Conditions that cause or aggravate the patients {{getAnswer('PainChart')}}
      pain include
      {{getAnswer('PainCause')}}. The condition
      necessitating
      the {{product}}
      is expected to be permanent or of {{productDuration}} duration and there is a need to control the
      {{getAnswer('PainChart')}}
      pain
      in more
      than
      one plane. Adjustments and assistance with ﬁtting and sizing will not be required for the {{product}} . The
      {{product}} is
      prescribed
      for the following indication(s); the patient is ambulatory and has weakness of the {{getAnswer('PainChart')}}
      pain that
      requires
      stabilization Fand has the potential to beneﬁt the patient functionally.</p>

    <h4>DIAGNOSIS:</h4>
    <div>{{getAnswer('PainChart')}} pain.</div>
    <div *ngFor="let item of diagnosis;">
      {{item.text}}
    </div>
    <div></div>


    <h4>PLAN AND TREATMENT GOALS</h4>

    <p>Based on my clinical impression with {{patient?.firstName}} {{patient?.lastName}} and evaluation of their
      condition, I am ordering the following for the
      {{getAnswer('PainChart')}}: {{product}} - {{getLCodes()}} the patient has been advised to use the device for
      support of their
      {{getAnswer('PainChart')}} pain as needed for
      comfort; or
      daily
      if necessary, to provide support to the area and aid potentially weak musculature and to improve activities of
      daily
      living.</p>

    <h4>THE INDICATIONS OF NEED:</h4>

    <p>{{getAnswer('PainChart')}}: The patient is ambulatory and has pain, discomfort and weakness in the region that
      requires
      stabilization
      and
      has the potential to beneﬁt functionally, by aiding and supporting the musculoskeletal unstable or weak area.

      <h4>TREATMENT GOALS:</h4>

      <p>{{getAnswer('PainChart')}} pain: Improvement in patient’s function. Improvement in patient’s pain. Increase
        performance in
        activities
        of
        daily living. Reduce medications. Slow musculoskeletal degeneration. Reduce inﬂammation.</p>

      <p>Custom ﬁtting of the orthosis is not required and the patient or an assisting caregiver can apply the
        prescribed
        orthotic device with minimal self-</p>


      <p>Our telephone number has been provided to {{patient?.firstName}} {{patient?.lastName}} in case there are follow
        up questions for his use and/or
        adjustment
        directions from our oﬃces. I have also recommended for the patient to speak with their primary care
        Physician
        in the
        near future as part of their ongoing plan of care.</p>


      <p>I, {{physician?.firstName}} {{physician?.lastName}}, verify and conﬁrm this order for the above-named patient,
        and certify that I have personally
        performed
        the
        assessment of the patient for the prescribed treatment and device and verify that it is reasonably and
        medically
        necessary, according to accepted standards of medical practice within the community, for this patient’s
        medical
        condition.</p>
  </div>

</form>