<div class="margin-30" fxLayout="row" fxLayoutAlign="center start">
  <form [formGroup]="form" novalidate fxLayout="column" fxLayoutGap="30px" (ngSubmit)="onSubmit()">

    <div fxLayout="row" fxLayoutGap="30px">

      <div fxLayout="column">

        <mat-label>1. How tall are you?</mat-label>
        <mat-form-field>
          <input matInput placeholder="Height" type="text" formControlName="q1">
          <mat-error *ngIf="form.get('q1').hasError('required') && form.get('q1').touched">Please enter the height.
          </mat-error>
        </mat-form-field>

        <mat-label>2. How much do you weigh?</mat-label>
        <mat-form-field>
          <input matInput placeholder="Weight" type="text" formControlName="q2">
          <mat-error *ngIf="form.get('q2').hasError('required') && form.get('q2').touched">Please enter the weight.
          </mat-error>
        </mat-form-field>

        <mat-label>3. What is your shoe size?</mat-label>
        <mat-form-field>
          <input matInput placeholder="Shoe Size" type="text" formControlName="q3">
          <mat-error *ngIf="form.get('q3').hasError('required') && form.get('q3').touched">Please enter the shoe size.
          </mat-error>
        </mat-form-field>

        <mat-label>4. What is your waist size?</mat-label>
        <mat-form-field>
          <input matInput placeholder="Waist Size" type="text" formControlName="q4">
          <mat-error *ngIf="form.get('q4').hasError('required') && form.get('q4').touched">Please enter the waist size.
          </mat-error>
        </mat-form-field>

        <mat-label>5. What current medications are you taking?</mat-label>
        <mat-form-field>
          <input matInput placeholder="Medications" type="text" formControlName="q5">
          <mat-error *ngIf="form.get('q5').hasError('required') && form.get('q5').touched">Please enter the waist size.
          </mat-error>
        </mat-form-field>

        <mat-label>6. Do you have any allergies?</mat-label>
        <mat-form-field>
          <input matInput placeholder="Allergies" type="text" formControlName="q6">
          <mat-error *ngIf="form.get('q6').hasError('required') && form.get('q6').touched">Please enter the allergies.
          </mat-error>
        </mat-form-field>

      </div>

      <div fxLayout="column" fxLayoutGap="30px">

        <div fxLayout="column" fxLayoutGap="10px">
          <mat-label>7. Have you seen your primary care physician within the last year?</mat-label>
          <mat-radio-group formControlName="q7" fxLayout="row" fxLayoutGap="10px">
            <mat-radio-button value="YES" color="primary"> Yes </mat-radio-button>
            <mat-radio-button value="NO" color="primary"> No </mat-radio-button>
          </mat-radio-group>
          <mat-error *ngIf="form.get('q7').hasError('required') && form.get('q7').touched">Please select an answer.
          </mat-error>
        </div>

        <div fxLayout="column" fxLayoutGap="10px">
          <mat-label>8. Have you been prescribed any type of brace within the last 5 years?</mat-label>
          <mat-radio-group formControlName="q8" fxLayout="row" fxLayoutGap="10px">
            <mat-radio-button value="YES" color="primary"> Yes </mat-radio-button>
            <mat-radio-button value="NO" color="primary"> No </mat-radio-button>
          </mat-radio-group>
          <mat-error *ngIf="form.get('q8').hasError('required') && form.get('q8').touched">Please select an answer.
          </mat-error>
        </div>

        <div fxLayout="column" fxLayoutGap="10px">
          <mat-label>9. Are you diabetic?</mat-label>
          <mat-radio-group formControlName="q9" fxLayout="row" fxLayoutGap="10px">
            <mat-radio-button value="NO" color="primary"> No </mat-radio-button>
            <mat-radio-button value="TYPEONE" color="primary"> Type One </mat-radio-button>
            <mat-radio-button value="TYPETWO" color="primary"> Type Two </mat-radio-button>
          </mat-radio-group>
          <mat-error *ngIf="form.get('q9').hasError('required') && form.get('q9').touched">Please select an answer.
          </mat-error>
        </div>

        <div fxLayout="column" fxLayoutGap="10px">
          <mat-label>10. Do you take insulin or oral medication for diabetes?</mat-label>
          <mat-radio-group formControlName="q10" fxLayout="row" fxLayoutGap="10px">
            <mat-radio-button value="ORAL" color="primary"> Oral </mat-radio-button>
            <mat-radio-button value="INSULIN" color="primary"> Insulin </mat-radio-button>
            <mat-radio-button value="BOTH" color="primary"> Both </mat-radio-button>
            <mat-radio-button value="NOTAPPLICABLE" color="primary"> Not Applicable </mat-radio-button>
          </mat-radio-group>
          <mat-error *ngIf="form.get('q10').hasError('required') && form.get('q10').touched">Please select an answer.
          </mat-error>
        </div>

      </div>

    </div>

    <button type="submit" mat-raised-button color="accent">Submit</button>
    
  </form>
</div>