@import "./../theme.scss";

.header {
    margin: 0px 10px 0px 10px;
    padding: 2px 2px 1px 30px;
    background-color: #A1F7A1;
}

.main{
    margin: 0px 10px 0px 10px;
}

.menu{
    margin: 5px 0px 0px 0px;
    padding: 5px 0px 5px 0px;
    border-style: solid;
    border-color: mat-color($accent-palette);
    border-width: 1px 0px 1px 0px;
}

.content{
    margin: 10px;
}

.mat-button.mat-accent.menu-button{
    color: mat-color($accent-palette, 900);
    border-radius: 0%;
}

.mat-button.mat-accent:hover{
    color: mat-color($accent-palette, default-contrast);
    background-color: mat-color($accent-palette);
}

.header-title{
    margin-bottom: 3px;
}

.subtext{
    font-style: italic;
    margin-top: 0px;
}

.footer{
    color: mat-color($primary-palette);
    border-style: solid;
    border-color:  mat-color($primary-palette);
    border-width: 1px 0px 1px 0px;
    padding: 2px 0px 2px 0px;    
    position:fixed;
    bottom:0;    
    width: 100%;
    margin-bottom: 3px;
}