@import "./../../../theme.scss";

table{
    width: 800px;;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

/*
.mat-table{
    border: 1px solid $accent-blue;
    text-align: center;
    padding: 2px;
}

.mat-cell{

}

.mat-header-cell{

}*/