<form [formGroup]="form" novalidate fxLayout="column" fxLayoutGap="20px" (ngSubmit)="onSubmit()">

    <div fxLayout="row" fxLayoutGap="20px">

        <div fxLayout="column" fxLayoutGap="20px">
            <div class="margin-30" fxLayout="row" fxLayoutAlign="center start">
                <h4>Pain Chart</h4>

                  <!-- <mat-checkbox *ngFor="let painPoint of painPoints; let i = index" formControlName="{{i}}_check"
                    [value]="removeSpaces(painPoint)" [(ngModel)]="getPainCheckboxBinding(removeSpaces(painPoint))" color="primary">
                    {{painPoint}}</mat-checkbox>  -->
                <mat-checkbox formControlName="0_check" [(ngModel)]="LeftWrist" value="LeftWrist" color="primary">Left Wrist</mat-checkbox>
                 <mat-checkbox formControlName="1_check" [(ngModel)]="RightWrist" value="RightWrist" color="primary">Right Wrist</mat-checkbox>
                <mat-checkbox formControlName="2_check" [(ngModel)]="LeftElbow" value="LeftElbow" color="primary">Left Elbow</mat-checkbox>
                <mat-checkbox formControlName="3_check" [(ngModel)]="RightElbow" value="RightElbow" color="primary">Right Elbow</mat-checkbox>
                <mat-checkbox formControlName="4_check" [(ngModel)]="LeftAnteriorShoulder" value="LeftAnteriorShoulder" color="primary">Left Anterior Shoulder</mat-checkbox>
                <mat-checkbox formControlName="5_check" [(ngModel)]="RightAnteriorShoulder" value="RightAnteriorShoulder" color="primary">Right Anterior Shoulder</mat-checkbox>
                <mat-checkbox formControlName="6_check" [(ngModel)]="LeftHip" value="LeftHip" color="primary">Left Hip</mat-checkbox>
                <mat-checkbox formControlName="7_check" [(ngModel)]="RightHip" value="RightHip" color="primary">Right Hip</mat-checkbox>
                <mat-checkbox formControlName="8_check" [(ngModel)]="LeftKnee" value="LeftKnee" color="primary">Left Knee</mat-checkbox>
                <mat-checkbox formControlName="9_check" [(ngModel)]="RightKnee" value="RightKnee" color="primary">Right Knee</mat-checkbox>
                <mat-checkbox formControlName="10_check" [(ngModel)]="PosteriorLeftShoulder" value="PosteriorLeftShoulder" color="primary">Posterior Left Shoulder</mat-checkbox>
                <mat-checkbox formControlName="11_check" [(ngModel)]="PosteriorRightShoulder" value="PosteriorRightShoulder" color="primary">Posterior Right Shoulder</mat-checkbox>
                <mat-checkbox formControlName="12_check" [(ngModel)]="Neck" value="Neck" color="primary">Neck</mat-checkbox>
                <mat-checkbox formControlName="13_check" [(ngModel)]="UpperMiddleBack" value="UpperMiddleBack" color="primary">Upper Middle Back</mat-checkbox>
                <mat-checkbox formControlName="14_check" [(ngModel)]="MiddleBack" value="MiddleBack" color="primary">Middle Back</mat-checkbox>
                <mat-checkbox formControlName="15_check" [(ngModel)]="LowerBack" value="LowerBack" color="primary">Lower Back</mat-checkbox>
                <mat-checkbox formControlName="16_check" [(ngModel)]="LeftOccipital" value="LeftOccipital">Left Occipital</mat-checkbox>
                <mat-checkbox formControlName="17_check" [(ngModel)]="RightOccipital" value="RightOccipital">Right Occipital</mat-checkbox>
                <mat-checkbox formControlName="18_check" [(ngModel)]="FrontalorForehead" value="FrontalorForehead">Frontal or Forehead</mat-checkbox>
                <mat-checkbox formControlName="19_check" [(ngModel)]="LeftAnkle" value="LeftAnkle">Left Ankle</mat-checkbox>
                <mat-checkbox formControlName="20_check" [(ngModel)]="RightAnkle" value="RightAnkle">Right Ankle</mat-checkbox>
              
                <!-- <mat-checkbox *ngFor="let painPoint of painPoints; let i = index" formControlName="{{i}}_check"
                    [value]="painPoint" color="primary">
                    {{painPoint}}</mat-checkbox> -->

            </div>
        </div>

    </div>
    <ng-container *ngFor="let painQuestionSet of painQuestions">
        <div fxLayout="row" fxLayoutGap="20px" *ngIf="getPainCheckboxBinding(painQuestionSet[0].getString())">
            <div fxLayout="column">
                <h2>{{painQuestionSet[0].painPointText}}</h2>
                <ng-container *ngFor="let painQuestion of painQuestionSet">
                    <mat-form-field *ngIf="painQuestion.elementId == 2">
                            <input matInput [placeholder]="painQuestion.text" [value]="painQuestion.painPointText" readonly="readonly" type="text"
                            [formControlName]="painQuestion.getId()">
                    </mat-form-field>

                    <mat-form-field *ngIf="painQuestion.elementId == 14 || painQuestion.elementId == 13 || painQuestion.elementId == 10">
                            <mat-select [placeholder]="painQuestion.text" [formControlName]="painQuestion.getId()">
                                    <mat-option value="Yes"> Yes </mat-option>
                                    <mat-option value="No">No</mat-option>
                                  </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngIf="painQuestion.elementId == 12 ">
                            <input matInput [placeholder]="painQuestion.text" [textMask]="{mask: maskService.date}" type="text"
                                [formControlName]="painQuestion.getId()">
                        </mat-form-field>
                    <mat-form-field *ngIf="painQuestion.elementId != 15 && painQuestion.elementId != 14 && painQuestion.elementId != 13 && painQuestion.elementId != 10 && painQuestion.elementId != 2 && painQuestion.elementId != 12 ">
                        <input matInput [placeholder]="painQuestion.text" type="text"
                            [formControlName]="painQuestion.getId()">
                    </mat-form-field>
                    <div *ngIf="painQuestion.elementId == 15" fxLayout="column" fxLayoutGap="10px">
                        <mat-label>{{painQuestion.text}}</mat-label>
                        <mat-radio-group [formControlName]="painQuestion.getId()" fxLayout=" row" fxLayoutGap="10px">
                            <mat-radio-button value="0" color="primary"> 0 </mat-radio-button>
                            <mat-radio-button value="1" color="primary"> 1 </mat-radio-button>
                            <mat-radio-button value="2" color="primary"> 2 </mat-radio-button>
                            <mat-radio-button value="3" color="primary"> 3 </mat-radio-button>
                            <mat-radio-button value="4" color="primary"> 4 </mat-radio-button>
                            <mat-radio-button value="5" color="primary"> 5 </mat-radio-button>
                            <mat-radio-button value="6" color="primary"> 6 </mat-radio-button>
                            <mat-radio-button value="7" color="primary"> 7 </mat-radio-button>
                            <mat-radio-button value="8" color="primary"> 8 </mat-radio-button>
                            <mat-radio-button value="9" color="primary"> 9 </mat-radio-button>
                            <mat-radio-button value="10" color="primary"> 10 </mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <!-- <mat-error *ngIf="form.get('q1').hasError('required') && form.get('q1').touched">Please answer the question.
                      </mat-error>  -->
                </ng-container>
            </div>
            <hr>
        </div>
    </ng-container>
    <button type="submit" mat-raised-button color="accent">Submit</button>
</form>