<div fxLayout="column" fxLayoutGap="20px">
  <h3>Intake Survey</h3>
  <mat-tab-group>
    <mat-tab label="General (Rx Only)">
      <div fxLayout="row" fxLayoutAlign="center start">
        <app-general-rx-only></app-general-rx-only>
      </div>
    </mat-tab>
    <mat-tab label="General (DME Only)">
      <div fxLayout="row" fxLayoutAlign="center start">
        <app-general-dme-only></app-general-dme-only>
      </div>
    </mat-tab>
    <mat-tab label="General (DME & Rx)">
      <div fxLayout="row" fxLayoutAlign="center start">
        <app-general-dme-and-rx></app-general-dme-and-rx>
      </div>
    </mat-tab>
    <mat-tab label="Pain (DME Only)">
      <div fxLayout="row" fxLayoutAlign="center start">
        <app-pain-dme-only></app-pain-dme-only>
      </div>
    </mat-tab>
    <mat-tab label="Pain (Rx Only)">
      <div fxLayout="row" fxLayoutAlign="center start">
        <app-pain-rx-only></app-pain-rx-only>
      </div>
    </mat-tab>
    <mat-tab label="Scar (Rx Only)">
      <div fxLayout="row" fxLayoutAlign="center start">
        <app-scar-rx-only></app-scar-rx-only>
      </div>
    </mat-tab>
    <mat-tab label="Heartburn / Acid Reflux (Rx Only)">
      <div fxLayout="row" fxLayoutAlign="center start">
        <app-heartburn-acid-rx-only></app-heartburn-acid-rx-only>
      </div>
    </mat-tab>
    <mat-tab label="Rash / Skin (Rx Only)">
      <div fxLayout="row" fxLayoutAlign="center start">
        <app-rash-skin-rx-only></app-rash-skin-rx-only>
      </div>
    </mat-tab>
    <mat-tab label="Anti-Fungal (Rx Only)">
      <div fxLayout="row" fxLayoutAlign="center start">
        <app-anti-fungal-rx-only></app-anti-fungal-rx-only>
      </div>
    </mat-tab>
    <mat-tab label="Footbath (Rx Only)">
      <div fxLayout="row" fxLayoutAlign="center start">
        <app-footbath-rx-only></app-footbath-rx-only>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>