<div class="margin-30" fxLayout="row" fxLayoutAlign="center start">
    <form [formGroup]="form" novalidate fxLayout="column" fxLayoutGap="30px" (ngSubmit)="onSubmit()">

        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center start">

            <div fxLayout="column" fxLayoutGap="10px">
                <mat-checkbox formControlName="leftElbow" value="LeftElbow" color="primary" (click)="onCheck($event)">
                    Left Elbow
                </mat-checkbox>
                <mat-checkbox formControlName="rightElbow" value="RightElbow" color="primary">
                    Right Elbow
                </mat-checkbox>
            </div>

            <div fxLayout="column" fxLayoutGap="10px">
                <mat-checkbox formControlName="leftAnteriorShoulder" value="LeftAnteriorShoulder" color="primary">
                    Left Anterior Shoulder
                </mat-checkbox>
                <mat-checkbox formControlName="rightAnteriorShoulder" value="RightAnteriorShoulder" color="primary">
                    Right Anterior Shoulder
                </mat-checkbox>
            </div>

            <div fxLayout="column" fxLayoutGap="10px">
                <mat-checkbox formControlName="leftPosteriorShoulder" value="LeftPosteriorShoulder" color="primary">
                    Left Posterior Shoulder
                </mat-checkbox>
                <mat-checkbox formControlName="rightPosteriorShoulder" value="rightPosteriorShoulder" color="primary">
                    Right Posterior Shoulder
                </mat-checkbox>
            </div>

            <div fxLayout="column" fxLayoutGap="10px">
                <mat-checkbox formControlName="leftKnee" value="LeftKnee" color="primary">
                    Left Knee
                </mat-checkbox>
                <mat-checkbox formControlName="rightKnee" value="RightKnee" color="primary">
                    Right Knee
                </mat-checkbox>
            </div>

            <div fxLayout="column" fxLayoutGap="10px">
                <mat-checkbox formControlName="leftAnkle" value="LeftAnkle" color="primary">
                    Left Ankle
                </mat-checkbox>
                <mat-checkbox formControlName="rightAnkle" value="RightAnkle" color="primary">
                    Right Ankle
                </mat-checkbox>
            </div>
        </div>

        <button type="submit" mat-raised-button color="accent">Submit</button>
    </form>
</div>