<h3>Agent</h3>

<form [formGroup]="accountForm" novalidate fxLayout="column" fxLayoutGap="20px" (ngSubmit)="onSubmit()">

  <mat-form-field>
    <input matInput placeholder="User Name" type="text" formControlName="username">
    <mat-error *ngIf="accountForm.get('username').hasError('required')">Please enter a valid user name.
    </mat-error>
  </mat-form-field>

  <div fxLayout="row" fxLayoutGap="10px">
    <mat-form-field>
      <input matInput placeholder="Password" type="password" formControlName="password">
      <mat-error *ngIf="accountForm.get('password').hasError('required')">Please enter the password.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Confirm Password" type="password" formControlName="confirmationPassword">
      <mat-error *ngIf="accountForm.get('confirmationPassword').hasError('required')">Please enter the confirmation
        password.</mat-error>
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutGap="10px">
    <mat-form-field>
      <input matInput placeholder="First Name" type="text" formControlName="firstName">
      <mat-error *ngIf="accountForm.get('firstName').hasError('required')">Please enter your first name.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Last Name" type="text" formControlName="lastName">
      <mat-error *ngIf="accountForm.get('lastName').hasError('required')">Please enter your last name.</mat-error>
    </mat-form-field>
  </div>

  <!--
  <mat-form-field>
      <mat-select placeholder="Vendor" formControlName="vendor">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let vendor of vendors" [value]="vendor">
          {{vendor}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="accountFormget('vendor')">Please select a vendor.</mat-error>
    </mat-form-field>
-->
  <button type="submit" mat-raised-button color="accent">Submit</button>

</form>