<app-intake *ngIf="!intakeApproved" [intakeForm]="intakeForm" [patient]="patient" [physician]="physician"
  [product]="product" [diagnosisOptions]="diagnosisOptions" [lcodeOptions]="lcodeOptions" [isAdminView]="isAdminView"
  (formSubmitEvent)="onIntakeApproval($event)">
</app-intake>

<app-prescription *ngIf="intakeApproved" [intakeForm]="intakeForm" [patient]="patient" [physician]="physician"
  [product]="product" [diagnosis]="intakeFormData.diagnosisSelections" [lcodes]="intakeFormData.lcodeSelections"
  [isAdminView]="isAdminView" (formSubmitEvent)="onPrescriptionApproval($event)">
</app-prescription>