<div fxLayout="row" fxLayoutAlign="center start">
  <div fxLayout="column" fxLayoutGap="10px">

    <mat-card fxLayout="column">
      <mat-card-title>Physician Billing </mat-card-title>
      <mat-card-content>
        <app-physician-billing></app-physician-billing>
      </mat-card-content>
    </mat-card>


    <mat-card fxLayout="column">
      <mat-card-title>Vendor Billing </mat-card-title>
      <mat-card-content>
        <app-vendor-billing></app-vendor-billing>
      </mat-card-content>
    </mat-card>



  </div>
</div>