<div fxLayout="row" fxLayoutAlign="center start">
  <div fxLayout="column" fxLayoutGap="10px">

    <mat-tab-group>
      <mat-tab label="Vendors">
        <div fxLayout="row" fxLayoutAlign="center start">
          <p>
            <app-vendor-billing></app-vendor-billing>
          </p>
        </div>
      </mat-tab>
      <mat-tab label="Physicians">
        <div fxLayout="row" fxLayoutAlign="center start">
          <p>
            <app-physician-billing></app-physician-billing>
          </p>
        </div>
      </mat-tab>
    </mat-tab-group>

  </div>
</div>